[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = https://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/auctex"]
	path = src/auctex
	url = https://github.com/gilaras/auctex.git
[submodule "src/magit"]
	path = src/magit
	url = http://github.com/philjackson/magit.git
[submodule "src/org"]
	path = src/org
	url = http://repo.or.cz/r/org-mode.git
[submodule "src/auto-complete"]
	path = src/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "src/cedet"]
	path = src/cedet
	url = http://git.gitorious.org/cedet-mirror/cedet-mirror.git
[submodule "src/distel"]
	path = src/distel
	url = https://github.com/massemanet/distel.git
[submodule "src/egit"]
	path = src/egit
	url = http://github.com/jimhourihan/egit.git
[submodule "src/gitsum"]
	path = src/gitsum
	url = http://github.com/chneukirchen/gitsum.git
[submodule "src/mo-git-blame"]
	path = src/mo-git-blame
	url = http://github.com/voins/mo-git-blame.git
